.controls-container {
  display: flex;
}

.input-collection-element {
  border: 1px solid black;
  border-right: none;
  float: left;
  height: 20px;
  text-align: center;
  width: 20px;
}

.input-collection-element:last-of-type {
  border-right: 1px solid black;
}
