/* General overwrites */
div {
  margin: 0;
}


/* Layout */
.container {
  margin: 0 auto;
  width: 800px;
}

.controls-container {
  display: flex;
  justify-content: space-around;
}

.input-collection-element {
  border: 1px solid rgba(0, 0, 0, 0);
  border-right: none;
  float: left;
  height: 20px;
  text-align: center;
  width: 20px;
}

.input-collection-element:last-of-type {
  border-right: 1px solid rgba(0, 0, 0, 0);
}


/* Main brick */
.animation {
  width: 80%;
  margin: 0 auto;
}

.mainbrick-color {
  background-color: #bbb;
}

.mainbrick-body {
  display: inline-block;
  height: 200px;
  width: 100%;
}

.mainbrick-inputslots, .mainbrick-outputslots {
  height: 40px;
}

.mainbrick-inputslots > .mainbrick-slot:nth-child(1) {
  margin-left: calc((100% - (40px * 2)) / 4);
}

.mainbrick-inputslots > .mainbrick-slot:nth-child(2) {
  margin-left: calc((100% - (40px * 2)) / 2);
}

.mainbrick-outputslots > .mainbrick-slot {
  margin-left: calc((100% - (40px * 1)) / 2);
}

.mainbrick-slot {
  display: inline-block;
  height: 40px;
  width: 40px;
}
